@import 'styles/variables.scss';

.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	background: $primary-color;

	.logo {
		display: flex;
		align-items: center;
		column-gap: 8px;

		img {
			width: 35px;
			height: 35px;
			color: white !important;
		}

		h1 {
			font-size: 1.2rem;
			font-weight: 700;
			color: white;
		}
	}

	.footerText {
		margin-top: 1.5rem;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.735);
	}

	.quickLinks {
		li {
			display: flex;
			align-items: center;
			border: 0;
			padding-left: 0px;
			background: transparent !important;
			gap: 0.5rem;

			a {
				color: rgba(255, 255, 255, 0.735);

				&:hover {
					color: rgba(255, 215, 215, 0.735);
				}
			}
		}

		.quickLinksTitle {
			margin-bottom: 20px;
			color: #fff;
			font-size: 1.1rem;
		}
	}

	.copyright {
		color: rgba(255, 255, 255, 0.735);
		font-size: 0.9rem;
		margin-top: 50px;
		text-align: center;
	}
}

.contat {
	li {
		span {
			color: rgba(255, 255, 255, 0.735);
			font-size: 1.2rem;
		}

		p {
			font-size: 0.9rem;
			color: rgba(255, 255, 255, 0.735);
		}
	}
}
